.page-wrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

main {
    grid-column: 4 / 13;
    padding: 2rem;

    .page-title {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.5rem;
        margin: 0 0 2rem 0;
        color: #3e3e3e;
    }

    .table-wrap {
        background-color: rgb(255, 255, 255);
        color: rgba(0, 0, 0, 0.87);
        border: solid 1px rgb(201, 201, 201);
        border-radius: 4px;
        width: 100%;
        overflow-x: auto;

        table {
            display: table;
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0px;
            min-width: 650px;
            // table-layout: fixed;
    
            thead {
                display: table-header-group;
                background-color: rgb(201, 201, 201);
            }
            
            tbody {
                display: table-row-group;
            }
            
            tr {
                color: inherit;
                display: table-row;
                vertical-align: middle;
                outline: 0px;
            }
            
            th {
                text-align: left;
                font-weight: 900;
            }

            td {
                flex-direction: row-reverse;
            }

            td, th {
                display: table-cell;
                white-space: nowrap;
                vertical-align: top;
                border-bottom: 1px solid rgb(224, 224, 224);
                border-right: 1px solid rgb(224, 224, 224);
                padding: 10px;
                color: rgba(0, 0, 0, 0.87);
                font-size: 0.875rem;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover {
                    overflow: visible;
                }

                &:last-child {
                    border-right: 0;
                }
            }
        }
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

$columns: 12;

@for $i from 1 through $columns {
    .col-span-#{$i} {
        grid-column: span $i;
    }
}

@media all and (min-width: 600px) {

}

@media all and (min-width: 1024px) {
    main {
        grid-column: 3 / 13;
    }
}